JAXBObject.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="id" type="xs:string"/>
  <xs:element name="FirstName" type="xs:string"/>
  <xs:element name="Lastname" type="xs:string"/>
  <xs:element name="Phone_Number" type="xs:string"/>
  <xs:element name="License_Plate" type="xs:string"/>
  <xs:element name="Work_Number" type="xs:string"/>
  <xs:element name="Address" type="xs:string"/>
  <xs:element name="client">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="id"/>
        <xs:element ref="FirstName"/>
        <xs:element ref="Lastname"/>
        <xs:element ref="Phone_Number"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="driver">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="id"/>
        <xs:element ref="FirstName"/>
        <xs:element ref="Lastname"/>
        <xs:element ref="Phone_Number"/>
        <xs:element ref="License_Plate"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dispatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="id"/>
        <xs:element ref="FirstName"/>
        <xs:element ref="Lastname"/>
        <xs:element ref="Phone_Number"/>
        <xs:element ref="Work_Number"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Address"/>
        <xs:element ref="client"/>
        <xs:element ref="driver"/>
        <xs:element ref="dispatch"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="id" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="List">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Order" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>