JAXBObject.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="id" type="xs:string"/>
  <xs:element name="FirstName" type="xs:string"/>
  <xs:element name="Lastname" type="xs:string"/>
  <xs:element name="Phone_Number" type="xs:string"/>
  <xs:element name="Car_Model" type="xs:string"/>
  <xs:element name="Work_Phone_Number" type="xs:string"/>
  <xs:element name="adresas" type="xs:string"/>
  <xs:element name="klientas">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="id"/>
        <xs:element ref="FirstName"/>
        <xs:element ref="Lastname"/>
        <xs:element ref="Phone_Number"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vairuotojas">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="id"/>
        <xs:element ref="FirstName"/>
        <xs:element ref="Lastname"/>
        <xs:element ref="Phone_Number"/>
        <xs:element ref="Car_Model"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="despecerine">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="id"/>
        <xs:element ref="FirstName"/>
        <xs:element ref="Lastname"/>
        <xs:element ref="Phone_Number"/>
        <xs:element ref="Work_Phone_Number"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="adresas"/>
        <xs:element ref="klientas"/>
        <xs:element ref="vairuotojas"/>
        <xs:element ref="despecerine"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="id" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="List">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Order" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>