JAXBObject.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="List" type="ListType"/>
  <xs:complexType name="klientasType">
    <xs:sequence>
      <xs:element type="xs:byte" name="id"/>
      <xs:element type="xs:string" name="FirstName"/>
      <xs:element type="xs:string" name="Lastname"/>
      <xs:element type="xs:long" name="Phone_Number"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="vairuotojasType">
    <xs:sequence>
      <xs:element type="xs:byte" name="id"/>
      <xs:element type="xs:string" name="FirstName"/>
      <xs:element type="xs:string" name="Lastname"/>
      <xs:element type="xs:int" name="Phone_Number"/>
      <xs:element type="xs:string" name="Car_Model"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="despecerineType">
    <xs:sequence>
      <xs:element type="xs:byte" name="id"/>
      <xs:element type="xs:string" name="FirstName"/>
      <xs:element type="xs:string" name="Lastname"/>
      <xs:element type="xs:long" name="Phone_Number"/>
      <xs:element type="xs:int" name="Work_Phone_Number"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrderType">
    <xs:sequence>
      <xs:element type="xs:string" name="adresas"/>
      <xs:element type="klientasType" name="klientas"/>
      <xs:element type="vairuotojasType" name="vairuotojas"/>
      <xs:element type="despecerineType" name="despecerine"/>
    </xs:sequence>
    <xs:attribute type="xs:byte" name="id"/>
  </xs:complexType>
  <xs:complexType name="ListType">
    <xs:sequence>
      <xs:element type="OrderType" name="Order"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>