src/main/java/old_test/test.xml0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="project.build.sourceEncoding" type="xs:string"/>
  <xs:element name="maven.compiler.source" type="xs:string"/>
  <xs:element name="maven.compiler.target" type="xs:string"/>
  <xs:element name="groupId">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="jakarta.xml.bind"/>
        <xs:enumeration value="com.sun.xml.bind"/>
        <xs:enumeration value="org.springframework"/>
        <xs:enumeration value="com.h2database"/>
        <xs:enumeration value="org.hibernate"/>
        <xs:enumeration value="junit"/>
        <xs:enumeration value="lt.viko.eif"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="artifactId">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="jakarta.xml.bind-api"/>
        <xs:enumeration value="jaxb-impl"/>
        <xs:enumeration value="spring-jdbc"/>
        <xs:enumeration value="h2"/>
        <xs:enumeration value="hibernate-core"/>
        <xs:enumeration value="junit"/>
        <xs:enumeration value="student"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="version">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="3.0.1"/>
        <xs:enumeration value="3.0.2"/>
        <xs:enumeration value="5.1.20.RELEASE"/>
        <xs:enumeration value="2.1.214"/>
        <xs:enumeration value="5.4.24.Final"/>
        <xs:enumeration value="RELEASE"/>
        <xs:enumeration value="1.0-SNAPSHOT"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="scope">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="runtime"/>
        <xs:enumeration value="compile"/>
        <xs:enumeration value="test"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="dependency">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="groupId"/>
        <xs:element ref="artifactId"/>
        <xs:element ref="version"/>
        <xs:element ref="scope" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modelVersion" type="xs:string"/>
  <xs:element name="packaging" type="xs:string"/>
  <xs:element name="properties">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="project.build.sourceEncoding"/>
        <xs:element ref="maven.compiler.source"/>
        <xs:element ref="maven.compiler.target"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dependencies">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dependency" maxOccurs="unbounded" minOccurs="0">
          <xs:annotation>
            <xs:documentation> JAXB API v3.0.1  JAXB v3.0.2 reference implementation (curiously with com.sun coordinates)  https://mvnrepository.com/artifact/com.h2database/h2 </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="project">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="modelVersion"/>
        <xs:element ref="groupId"/>
        <xs:element ref="artifactId"/>
        <xs:element ref="version"/>
        <xs:element ref="packaging"/>
        <xs:element ref="properties"/>
        <xs:element ref="dependencies"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>